@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	font-family: "Plus Jakarta Sans", sans-serif;
}

.hide-close-popup > a.leaflet-popup-close-button {
	@apply hidden;
}

.leaflet-interactive {
	@apply focus:outline-none;
}